.c-carousel-image-feature{
  margin-bottom: 60px;

  .container{

    width: 100% !important;

    .mx-auto{
      max-width: 80rem;

      .slide{
        border-radius: 10px;
        overflow: hidden;
      }

      p{
        margin-top: 15px;
        display: block;
        position: relative;
        font-style: oblique;
        font-size: 14px;
      }

      .slide-video{

        img{
          display: none;
        }
      }

    }

    ul{
      display: none;
    }

  }

  .carousel-controls{
    display: block;
    position: absolute;
    top: calc(50% - 50px);
    max-width: 1450px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    button{

      &:hover{
        transform: scale(1.2);
        transition: .2s ease-in-out;
      }
      svg{
        path{
          fill: #0945DC !important;
        }
      }
    }

    .prev{
      position: absolute;
      left: 30px;
      pointer-events: all;

    }
    .next{
      position: absolute;
      right: 30px;
      pointer-events: all;
    }

  }

}

@media screen and (max-width: 1360px){

  .c-carousel-image-feature{

    .slide{
      border-radius: 0px !important;
    }

    p{
      padding: 0px 30px;
    }

    .carousel-controls{

      button{

        &:hover{
          transform: scale(1.2);
          transition: .2s ease-in-out;
        }

        svg{
          path{
            fill: #ffffff !important;
          }
        }

      }

    }

  }

}


