.c-feature-display{
  background: #0C125D;
  margin: 60px 0px;
  width: 100%;
  padding: 60px 30px;
  position: relative;
  display: block;
  overflow: hidden;

  &-wrapper{

    max-width: 80rem;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 120px;

  }

  &-contain{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    h2{
      font-family: "ABCArizonaMix";
      font-size: 35px;
      line-height: 48px;
      color: #FFC300;
      position: relative;
      margin-bottom: 20px;

      span{
        font-size: 14px;
        font-family: "LibreFranklin";
        color: white;
        font-weight: 300;
        margin-bottom: 0px;
        text-transform: uppercase;
        display: block;
        position: relative;
      }
    }

    h3{
      font-size: 18px;
      font-family: "LibreFranklin";
      color: white;
      font-weight: 700;
      margin-bottom: 15px;
    }

    p{
      font-size: 16px;
      color: white;
      line-height: 32px;
      margin-bottom: 15px;
    }

    a{
      width: auto;
      display: inline-block;
      color: #FFC300;
      text-transform: uppercase;
      text-align: center;
      font-size: 14px;

      svg{
        display: inline;
        margin-left: calc(15px / 2);

        path{
          fill: #FFC300;
        }
      }
    }

    a:hover{
      color: white;

      svg{

        path{
          fill: white;
        }
      }
    }

  }

  &-content{
    width: 40%;
    padding-right: 60px;
  }

  &-image{
    width: 60%;
    position: relative;
    display: block;

    &-thumbnail{
      display: block;
      position: absolute;
      text-align: right;
      z-index: 2;
      right: 45px;
      top: -120px;
    }

    &-thumbnail > div{
      border: 2px dashed white;
      border-radius: 100%;
      padding: 2px;
      height: 240px;
      width: 240px;
      display: inline-block;
      position: relative;

      div{
        position: absolute;
        top: 5px;
        left: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        display: block;
      }

    }

    &-large{
      width: 100%;
      position: relative;
      display: block;
      z-index: 1;
      min-height: 435px;
      height: 100%;
      border: 2px solid white;
    }

  }

  &-image::after{
     content: "";
     background: #0B48E4;
     background-size: contain;
     height: calc(100% + 250px);
     width: calc(50% + ((100vw - 80rem) / 2));
     display: block;
     left: 50%;
     z-index: 0;
     top: -188px;
     position: absolute;
  }

  &-image.top .c-feature-display-image-thumbnail{
    /* padding-right: 30px; */
  }

  /* &-image.top .c-feature-display-image-large{
    margin-top: -120px;
  } */

  &-image.right .c-feature-display-image-thumbnail{
    position: absolute;
    right: 0px;
  }

  &-image.right .c-feature-display-image-large{
    width: calc(100% - 120px);
    margin-top: 60px;
  }

}

@media screen and (max-width: 1360px){

  .c-feature-display-image::after{
    width: calc(50% + 30px);
    left: 50%;
  }

  .c-feature-display-content,
  .c-feature-display-image{
    width: 50%;
  }

  .c-feature-display-image-thumbnail > div{
    width: 150px;
    height: 150px;
  }

  .c-feature-display-image.top .c-feature-display-image-large {
      margin-top: -75px;
  }

  .c-feature-display-image.right .c-feature-display-image-large {
      width: calc(100% - 75px);
  }

  .c-feature-display-image::after{
    background-size: cover;
    background-position: center center;
  }

}


@media screen and (max-width: 980px){

  .c-feature-display{
    padding: 45px 30px;
  }

  .c-feature-display-wrapper{
    padding-top: 0px;
  }

  .c-feature-display-image{
    display: none;
  }

  .c-feature-display-content{
    width: 100%;
    padding-right: 0px;
  }

  .c-feature-display-contain h2{
    font-size: 25px;
  }

  .c-feature-display-contain p{
    font-size: 16px;
    margin-bottom: 30px;
  }

  .c-feature-display-mobile-image{
    width: 100%;
    height: 50vw;
    border-radius: 5px;
    display: block;
    position: relative;
    overflow: hidden;
    border: 3px white solid;
    margin-bottom: 30px;

    div{
      position: absolute;
      width: 100%;
      top: 0px;
      height: 100%;
      left: 0px;
      display: block;
    }

  }

}
