---
layout: main.html
bodyClass: homepage
components:

  - name: hero-home
    image: '/_resources/images/images/bg-home-hero.png'
    heading: '<strong>Welcome to</strong> <span>Inside F&M</span>'

  - name: event-calendar
    title: What's Going on at F&M
    events:
      - title: Classes Start
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
        eventMonth: May
        eventDay: 21
      - title: Classes Start
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
        eventMonth: May
        eventDay: 21
      - title: Classes Start
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
        eventMonth: May
        eventDay: 21
      - title: Classes Start
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
        eventMonth: May
        eventDay: 21
      - title: Classes Start
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
        eventMonth: May
        eventDay: 21
      - title: Classes Start
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
        eventMonth: May
        eventDay: 21
    ctaTitle: View Full Calendar
    ctaLink: '#'

  - name: three-up-feature
    title: 'Bell & Tower: Campus Community Newsletter'
    kind: 'news'
    carousel: 'true'
    cards:
      - title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        date: 'January 23, 2023'
        copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        image: '/_resources/images/images/three-up-card-image-7.png'
        link: '#'
        linkcaption: 'Read More'
      - title:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        date: 'January 23, 2023'
        copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        image: '/_resources/images/images/three-up-card-image-8.png'
        link: '#'
        linkcaption: 'Read More'
      - title:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        date: 'January 23, 2023'
        copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        image: '/_resources/images/images/three-up-card-image-9.png'
        link: '#'
        linkcaption: 'Read More'
    cta:
      - caption: 'View More Stories'
        url: '#'

  - name: event-calendar
    title: Upcoming Deadlines
    events:
      - title: Classes Start
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
        eventMonth: May
        eventDay: 21
      - title: Classes Start
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
        eventMonth: May
        eventDay: 21
      - title: Classes Start
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
        eventMonth: May
        eventDay: 21
      - title: Spring Break
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
        eventMonth: May
        eventDay: 3-21
      - title: Spring Break
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
        eventMonth: May
        eventDay: 3-21
      - title: Spring Break
        description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
        eventMonth: May
        eventDay: 3-21
    ctaTitle: View Full Calendar
    ctaLink: '#'

  - name: feature-display
    subtitle: 'Special Announcement'
    title: 'Annoucement headline goes here lorem ipsum'
    image: '/_resources/images/images/lancaster-1.png'
    thumb: '/_resources/images/images/lancaster-small-1.png'
    paragraph: '<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </h3><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd.</p>'
    align: 'top'
    ctas:
      - link: '#'
        caption: 'Call to Action'

  - name: three-up-feature
    title: 'Useful Tools'
    kind: 'highlight'
    background: '/_resources/images/images/bg-trees.png'
    cards:
      - title: 'MyDiplomat'
        copy: 'Find the most important resources'
        image: '/_resources/images/images/three-up-card-image-1.png'
        link: '#'
        linkcaption: 'Find Resources'
      - title: 'People Directory'
        copy: 'Search for faculty and staff'
        image: '/_resources/images/images/three-up-card-image-2.png'
        link: '#'
        linkcaption: 'Find People'
      - title: 'Course Catalogue'
        copy: 'Find all catalog information.'
        image: '/_resources/images/images/three-up-card-image-3.png'
        link: '#'
        linkcaption: 'Find Courses'



  - name: call-to-action
    title: 'Call to Action'
    caption: 'Lorem ipsum dolor sit amet, consetetur sadipscing.'
    link: '#'
    image: '/_resources/images/images/lancaster-1.png'

  - name: three-up-feature
    title: 'F&M Stories'
    kind: 'news'
    cards:
      - title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        date: 'January 23, 2023'
        copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        image: '/_resources/images/images/three-up-card-image-7.png'
        link: '#'
        linkcaption: 'Read More'
      - title:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        date: 'January 23, 2023'
        copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        image: '/_resources/images/images/three-up-card-image-8.png'
        link: '#'
        linkcaption: 'Read More'
      - title:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        date: 'January 23, 2023'
        copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        image: '/_resources/images/images/three-up-card-image-9.png'
        link: '#'
        linkcaption: 'Read More'
    cta:
      - caption: 'View All'
        url: '#'



---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
