---
layout: main.html
bodyClass: home
components:

- name: hero-home
  image: '/_resources/images/images/bg-home-hero.png'
  heading: '<strong>Welcome to</strong> <span>Inside F&M</span>'

- name: hero-landing
  image: '/_resources/images/images/bg-program-listing.png'
  heading: 'Welcome to Weis College House!'
  breadcrumbs:
    - title: Home
      link: '#'
    - title: College Houses
      link: '#'
  paragraph: 'Our motto is socii mundi, translated as compatriots with an interest in the world.  It is our call to join together in our House community to pursue knowledge and truth. Weis House Best House!'

- name: hero-slim
  heading: 'Health & Wellness at F&M'
  breadcrumbs:
    - title: Home
      link: '#'
    - title: Student Affairs
      link: '#'

- name: program-intro
  title: 'Scroll to find math specific news, student & faculty stories, and resources!'
  copy: '
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
  '
  links:
    - title: Register for Information Session
      link: '#'
      color: blue
    - title: Scholarship Opportunity
      link: '#'
      color: white
  sidebarTitle: 'Mathematics Department'
  sidebarlinks:
    - title: Math People Directory
      link: '#'
    - title: Major/ Minor in Mathematics
      link: '#'
    - title: Mathematics Curriculum & Courses
      link: '#'
    - title: Forms & Functions
      link: '#'
    - title: Employment Opportunities
      link: '#'

- name: dummy-text

- name: event-calendar
  title: What's Going on at F&M
  events:
    - title: Classes Start
      description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
      eventMonth: May
      eventDay: 21
    - title: Classes Start
      description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
      eventMonth: May
      eventDay: 21
    - title: Classes Start
      description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
      eventMonth: May
      eventDay: 21
    - title: Classes Start
      description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
      eventMonth: May
      eventDay: 21
    - title: Classes Start
      description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
      eventMonth: May
      eventDay: 21
    - title: Classes Start
      description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.'
      eventMonth: May
      eventDay: 21
  ctaTitle: View Full Calendar
  ctaLink: '#'


- name: three-up-feature
  title: 'Useful Tools'
  kind: 'highlight'
  background: '/_resources/images/images/bg-trees.png'
  cards:
    - title: 'MyDiplomat'
      copy: 'Find the most important resources'
      image: '/_resources/images/images/three-up-card-image-1.png'
      link: '#'
      linkcaption: 'Find Resources'
    - title: 'People Directory'
      copy: 'Search for faculty and staff'
      image: '/_resources/images/images/three-up-card-image-2.png'
      link: '#'
      linkcaption: 'Find People'
    - title: 'Course Catalogue'
      copy: 'Find all catalog information.'
      image: '/_resources/images/images/three-up-card-image-3.png'
      link: '#'
      linkcaption: 'Find Courses'

- name: three-up-feature
  title: 'F&M Stories'
  kind: 'news'
  cards:
    - title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
      date: 'January 23, 2023'
      copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      image: '/_resources/images/images/three-up-card-image-7.png'
      link: '#'
      linkcaption: 'Read More'
    - title:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
      date: 'January 23, 2023'
      copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      image: '/_resources/images/images/three-up-card-image-8.png'
      link: '#'
      linkcaption: 'Read More'
    - title:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
      date: 'January 23, 2023'
      copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      image: '/_resources/images/images/three-up-card-image-9.png'
      link: '#'
      linkcaption: 'Read More'
  cta:
    - caption: 'View All'
      url: '#'

- name: three-up-feature
  title: 'F&M Stories'
  kind: 'news'
  cards:
    - title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
      date: 'January 23, 2023'
      copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      image: '/_resources/images/images/three-up-card-image-7.png'
      link: '#'
      linkcaption: 'Read More'
    - title:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
      date: 'January 23, 2023'
      copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      image: '/_resources/images/images/three-up-card-image-8.png'
      link: '#'
      linkcaption: 'Read More'


- name: three-up-feature
  title: 'Bell & Tower: Campus Community Newsletter'
  kind: 'news'
  carousel: 'true'
  cards:
    - title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
      date: 'January 23, 2023'
      copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      image: '/_resources/images/images/three-up-card-image-7.png'
      link: '#'
      linkcaption: 'Read More'
    - title:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
      date: 'January 23, 2023'
      copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      image: '/_resources/images/images/three-up-card-image-8.png'
      link: '#'
      linkcaption: 'Read More'
    - title:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
      date: 'January 23, 2023'
      copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      image: '/_resources/images/images/three-up-card-image-9.png'
      link: '#'
      linkcaption: 'Read More'
  cta:
    - caption: 'View More Stories'
      url: '#'

- name: three-up-feature
  title: 'Student Health and Wellness'
  kind: 'standard'
  cards:
    - title: 'Student Wellness Center'
      copy: 'A fully integrated center that provides accessible, confidential, high quality medical and mental health services for students.'
      image: '/_resources/images/images/three-up-card-image-4.png'
      link: '#'
      linkcaption: 'Read More'
    - title: 'DipCares: Mental Health Aid & More'
      copy: 'Many students face difficult times during college. Unexpected life events, personal crisis, mental health struggles, financial issues, or academic difficulties are all examples of challenges that can interfere with a student’s success during their college years.'
      image: '/_resources/images/images/three-up-card-image-5.png'
      link: '#'
      linkcaption: 'Read More'
    - title: 'Student Wellness Education and Violence Prevention'
      copy: 'The Office of Student Wellness Education and Violence Prevention (WE-VP) provides education for students, staff and faculty on wellness related topics and violence prevention.   '
      image: '/_resources/images/images/three-up-card-image-6.png'
      link: '#'
      linkcaption: 'Read More'



- name: fifty-fifty
  type1: 'fifty-fifty-type-card'
  card1: 'true'
  image1: '/_resources/images/images/three-up-card-image-4.png'
  caption1: '<strong>Explore Academic Support Programs</strong><br/>Find resources such as: Peer Academic Coaching (PAC), tutoring & academic support, productive habits, and more!'
  link1: '#'
  linkCaption1: Read More

  type2: 'fifty-fifty-type-card'
  card2: 'true'
  image2: '/_resources/images/images/three-up-card-image-4.png'
  caption2: '<strong>Peer Suppport Collective</strong><br/>Add in plain language what this is. Is this a group? a team? a 1-1 session with a peer? Lorem ipsum dolor sit amet.'
  link2: '#'
  linkCaption2: Read More

- name: fifty-fifty
  background: 'light'
  type1: 'fifty-fifty-type-image'
  image1: '/_resources/images/images/lancaster-1.png'
  type2: 'fifty-fifty-type-html'
  html2: '<h2>Weiss House Calendar</h2> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
  link2: '#'
  linkCaption2: CTA

- name: fifty-fifty
  type1: 'fifty-fifty-type-cta'
  cta1: 'true'
  caption1: '<h3>Public Safety</h3><p>The Franklin & Marshall College Department of Public Safety (DPS) is an Accredited Law Enforcement Agency. DPS works around the clock to maintain a safe atmosphere for faculty, staff, students and visitors and ensure the F&M community is a safe one for living and learning.</p>'
  link1: '#'
  linkCaption1: Read More

  type2: 'fifty-fifty-type-cta'
  cta2: 'true'
  caption2: '<h3>Emergency Medical Services</h3><p>Franklin & Marshall Emergency Medical Service is a Basic Life Support (BLS) unit licensed by the Pennsylvania Department of Health. It provides emergency response to the members of F&M and the surrounding Lancaster City community.</p>'
  link2: '#'
  linkCaption2: Read More

- name: fifty-fifty
  type1: 'fifty-fifty-type-cta'
  background1: 'dark'
  cta1: 'true'
  caption1: '<h3>Public Safety</h3><p>The Franklin & Marshall College Department of Public Safety (DPS) is an Accredited Law Enforcement Agency. DPS works around the clock to maintain a safe atmosphere for faculty, staff, students and visitors and ensure the F&M community is a safe one for living and learning.</p>'
  link1: '#'
  linkCaption1: Read More

  type2: 'fifty-fifty-type-cta'
  background2: 'dark'
  cta2: 'true'
  caption2: '<h3>Emergency Medical Services</h3><p>Franklin & Marshall Emergency Medical Service is a Basic Life Support (BLS) unit licensed by the Pennsylvania Department of Health. It provides emergency response to the members of F&M and the surrounding Lancaster City community.</p>'
  link2: '#'
  linkCaption2: Read More

- name: call-to-action
  title: 'Call to Action'
  caption: 'Lorem ipsum dolor sit amet, consetetur sadipscing.'
  subcaption: 'In an emergency, call 911 or contact the Department of Public Safety (DPS)  at 717-358-3939.'
  link: '#'

- name: quicklinks
  title: 'Fitness & Recreation'
  background: 'dark'
  description: '
  F&M’s Peer Support Collective includes peer mentors, tutors, and academic coaches who strive to make support at F&M accessible & visible. So, whether it’s basketball, tennis, rugby or even ultimate Frisbee, there’s an athletic outlet for you at F&M.
  '
  list:
    - caption: 'Intramurals'
      url: '#'
    - caption: 'Fitness Classes'
      url: '#'
    - caption: 'Recreation Facilities'
      url: '#'
    - caption: 'Diplomat Athletics'
      url: '#'
    - caption: 'Club Sports'
      url: '#'
    - caption: 'Lorem ipsum dolor sit amet'
      url: '#'

- name: quicklinks
  title: 'F&M Finance'
  background: 'light'
  description: '
  The Finance division at F&M oversees the financial responsibilities of the College, which include budget and financial planning, investments and endowment, debt management, and stewardship of financial resources.
  '
  list:
    - caption: 'Budget & Financial Planning'
      url: '#'
    - caption: 'Accounting'
      url: '#'
    - caption: 'Accounts Payable'
      url: '#'
    - caption: 'Payroll'
      url: '#'
    - caption: 'Lorem ipsum dolor amet consectetur'
      url: '#'
    - caption: 'Lorem ipsum dolor sit amet'
      url: '#'

- name: stat-block-standard
  title: 'Main Title'
  border: 'yellow'
  subtitle: 'Secondary Titling'
  paragraph: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  '
  linktitle: 'Call to Action'
  link: '#'
  statistics:
    - numeral: 12
      caption: Testing the captions out with varying lengths
    - numeral: 34
      caption: Testing the captions out once again
    - numeral: 56
      caption: Testing a shorter one
    - numeral: 78
      caption: Testing out a far longer, verbose, perhaps "superfluous" caption to ensure responsiveness

- name: carousel-image-feature
  items:
  - body: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo magnam <a href="#">aliquam quaerat voluptatem</a>.'
    youtube: 'https://www.youtube.com/watch?v=qWHm-ZqkHB4'
    alt: Alt text
  - body: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.'
    image:
      src: https://picsum.photos/id/824/800/800
      alt: Alt text
  - body: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.'
    image:
      src: https://picsum.photos/id/825/800/800
      alt: Alt text

- name: video
  subtitle: Happy seniors applaud their classmates during the degree-conferring portion of the program at Commencement 2022.
  youtube: 'https://www.youtube.com/watch?v=qWHm-ZqkHB4'

- name: accordion
  title: 'Important Year End Information'
  contents:
  - heading: 'One Page Summary Document '
    type: 'one-col'
    description: '
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    '
  - heading: 'Purchasing: Requisitions and Purchase Orders'
    type: 'one-col'
    description: '
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    '
  - heading: 'Expense Reimbursements through DiploMart:'
    type: 'one-col'
    description: '
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    '
  - heading: 'Invoice Processing:'
    type: 'one-col'
    description: '
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    '
  - heading: 'P-Card:'
    type: 'one-col'
    description: '
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    '
  - heading: 'Budget Year-End Processing:'
    type: 'one-col'
    description: '
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    '
  - heading: 'Accounting Team Message:'
    type: 'one-col'
    description: '
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    '

- name: filterable
  elements:

  - type: search
    id: search
    width: 'calc(100% - 110px)'
    caption: Enter Keyword

  - type: submit
    id: submit
    caption: 'Find'

  - type: checkbox
    id: checkbox
    boxes:
    - label: 'Test 1'
      value: test1
      id: test1
    - label: 'Test 2'
      value: test2
      id: test2
    - label: 'Test 3'
      value: test3
      id: test3

- name: people
  persons:
  - name: 'Tim Bechtel'
    title: 'Director of F&M Science Outreach & Senior Teaching Professor of Geosciences'
    subject: 'Earth & Environment'
    linkTitle: 'Contact'
    linkURL: '#'
  - name: 'Melissa W Betrone'
    title: 'Academic Department Coordinator'
    subject: 'EARTH AND ENVIRONMENT, BUSINESS, ORGANIZATIONS AND SOCIETY, SCIENCE, TECHNOLOGY AND SOCIETY'
    linkTitle: 'Contact'
    linkURL: '#'
  - name: 'Eve Bratman'
    title: 'Assistant Professor of Environmental Studies'
    subject: 'Earth & Environment'
    linkTitle: 'Contact'
    linkURL: '#'
  - name: 'Sarah S. Dawson'
    title: 'Director, Center for Sustainable Environment'
    subject: 'THE CENTER FOR THE SUSTAINABLE ENVIRONMENT, EARTH AND ENVIRONMENT'
    linkTitle: 'Contact'
    linkURL: '#'
  - name: 'Elizabeth M. De Santo'
    title: 'Associate Professor of Environmental Studies, Program Chair of Environmental Studies'
    subject: 'Earth & Environment'
    linkTitle: 'Contact'
    linkURL: '#'
  - name: 'Annalisa Crannell'
    title: 'Associate Dean of the Faculty, Professor of Mathematics'
    subject: 'Mathematics'
    linkTitle: 'Contact'
    linkURL: '#'


- name: news-heading
  title: 'Class of 2022 Grads Urged to Find Their Voices'
  date: '5/17/2022'
  author: 'Kim O’Brien'
  caption: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.'
  image: '/_resources/images/images/bg-article-image.png'
  alt: 'students at graduation'






- name: wysiwyg-article-page
  contentItems:
  - type: body-copy
    copy:
      - paragraph: 'It is not enough to be a voice for the voiceless.'

      - paragraph: '“Instead, your challenge and mine is to listen for unheard voices and to abolish the conditions of voicelessness,” said author Viet Thanh Nguyen at Franklin & Marshall College’s May 14 Commencement.'

      - paragraph: 'Addressing the Class of 2022’s 560 grads honored at the Alumni Sports & Fitness Center, Nguyen shared the story of finding his voice with both solemnity and levity.'

      - paragraph: '“Being a refugee was quite traumatic. But it wasn’t all bad. Being a refugee left me with the requisite emotional damage necessary to become a writer,” joked Nguyen, author of “The Sympathizer,” the 2016 Pulitzer Prize for Fiction winner.'

      - paragraph: '“Being a refugee also leaves me with an opinion that not all of you may agree with, which is that I think refugees—and immigrants—make America great,” he said.'

      - paragraph: 'A palpable energy filled the ASFC—one part jubilation, one part collective exhalation after a pandemic-disrupted academic journey.'

      - paragraph: '“Four years both short and endless. Four times through the academic cycle, each year different from the others, each painful and victorious in their own ways,” said <a href="#">F&M President Barbara Altmann</a>, who arrived on campus in 2018 when most of the graduates began their F&M studies.'

      - paragraph: '<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/coYCyC07jo4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'

      - paragraph: '<iframe src="https://player.vimeo.com/video/827393490?h=f4da8cf74b&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>'

  - type: embed
    links:
      - code: '<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/coYCyC07jo4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'
        align: 'align-left'

      - code: '<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/coYCyC07jo4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'
        align: 'align-center'

      - code: '<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/coYCyC07jo4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'
        align: 'align-right'

      - code: '<iframe src="https://player.vimeo.com/video/827393490?h=f4da8cf74b&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>'
        align: 'align-left'

      - code: '<iframe src="https://player.vimeo.com/video/827393490?h=f4da8cf74b&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>'
        align: 'align-center'

      - code: '<iframe src="https://player.vimeo.com/video/827393490?h=f4da8cf74b&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>'
        align: 'align-right'

---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
