---
layout: main.html
bodyClass: homepage
components:

  - name: hero-landing
    image: '/_resources/images/images/bg-program-listing.png'
    heading: 'Math Department'
    breadcrumbs:
      - title: Home
        link: '#'
      - title: About
        link: '#'
    paragraph: 'Inside information for students & faculty<br/><br/>Department Address: Add department address here<br/>
    Department Hours: Add hours'

  - name: program-intro
    title: 'Scroll to find math specific news, student & faculty stories, and resources!'
    copy: '
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
    '
    links:
      - title: Register for Information Session
        link: '#'
        color: blue
      - title: Scholarship Opportunity
        link: '#'
        color: white
    sidebarTitle: 'Mathematics Department'
    sidebarlinks:
      - title: Math People Directory
        link: '#'
      - title: Major/ Minor in Mathematics
        link: '#'
      - title: Mathematics Curriculum & Courses
        link: '#'
      - title: Forms & Functions
        link: '#'
      - title: Employment Opportunities
        link: '#'

  - name: three-up-feature
    title: 'Department Updates'
    kind: 'standard'
    cards:
      - title: 'Student Wellness Center'
        copy: 'A fully integrated center that provides accessible, confidential, high quality medical and mental health services for students.'
        image: '/_resources/images/images/three-up-card-image-4.png'
        link: '#'
        linkcaption: 'Read More'
      - title: 'DipCares: Mental Health Aid & More'
        copy: 'Many students face difficult times during college. Unexpected life events, personal crisis, mental health struggles, financial issues, or academic difficulties are all examples of challenges that can interfere with a student’s success during their college years.'
        image: '/_resources/images/images/three-up-card-image-5.png'
        link: '#'
        linkcaption: 'Read More'
      - title: 'Student Wellness Education and Violence Prevention'
        copy: 'The Office of Student Wellness Education and Violence Prevention (WE-VP) provides education for students, staff and faculty on wellness related topics and violence prevention.   '
        image: '/_resources/images/images/three-up-card-image-6.png'
        link: '#'
        linkcaption: 'Read More'

  - name: fifty-fifty
    type1: 'fifty-fifty-type-cta'
    background1: 'dark'
    cta1: 'true'
    caption1: '<h3>Student Resources</h3><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>'
    link1: '#'
    linkCaption1: Read More

    type2: 'fifty-fifty-type-cta'
    background2: 'dark'
    cta2: 'true'
    caption2: '<h3>Faculty Resources</h3><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>'
    link2: '#'
    linkCaption2: Read More

  - name: accordion
    title: 'Math FAQs'
    contents:
      - heading: 'Where can I find faculty emails? '
        type: 'one-col'
        description: '
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        '
      - heading: 'Where can I find forms?'
        type: 'one-col'
        description: '
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        '
      - heading: 'What is the Math department’s mission?'
        type: 'one-col'
        description: '
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        '
      - heading: 'Lorem ipsum dolor sit amet?'
        type: 'one-col'
        description: '
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        '

  - name: feature-display
    subtitle: 'Student Spotlight'
    title: 'Jane Doe, Class of 2024'
    image: '/_resources/images/images/lancaster-1.png'
    thumb: '/_resources/images/images/lancaster-small-1.png'
    paragraph: '<h3>Wins Award for Achievement</h3><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd.</p>'
    align: 'top'
    ctas:
      - link: '#'
        caption: 'Call to Action'

  - name: three-up-feature
    title: 'The Pulse: Latest Math News'
    kind: 'news'
    cards:
      - title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        date: 'January 23, 2023'
        copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        image: '/_resources/images/images/three-up-card-image-7.png'
        link: '#'
        linkcaption: 'Read More'
      - title:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        date: 'January 23, 2023'
        copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        image: '/_resources/images/images/three-up-card-image-8.png'
        link: '#'
        linkcaption: 'Read More'




---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
