<div class="c-carousel-image-feature">
  <app-carousel class="container relative">
    <div class="mx-auto">
      {% for item in data.items %}
        <app-carousel-item class="w-full">
          {% if item.image %}
            <div class="aspect-w-16 aspect-h-9 slide slide-image">
              <img class="object-cover pointer-events-none" src="{{ item.image.src }}" alt="{{ item.image.alt }}">
            </div>
            <p>{{ item.body | safe }}</p>
          {% endif %}
          {% if item.youtube %}
            <div class="slide slide-video">
              <video-player tabindex="0" title="{{ item.alt }}" youtube-url="{{ item.youtube }}" thumbnail-url="{{ data.thumbnail }}" thumbnail-alt="Alt Text" role="presentation"></video-player>
            </div>
            <p>{{ item.body | safe }}</p>
          {% endif %}
        </app-carousel-item>
      {% endfor %}
    </div>
    <div class="carousel-controls">

      <app-carousel-button direction="previous" class="block pointer-events-auto prev">
        <span class="sr-only">Previous Slide</span>
        {% include '../../../assets/images/images/arrow-carousel-prev.svg' %}
      </app-carousel-button>

      <app-carousel-button direction="next" class="block ml-5 pointer-events-auto next">
        <span class="sr-only">Next Slide</span>
        {% include '../../../assets/images/images/arrow-carousel-next.svg' %}
      </app-carousel-button>
    </div>
  </app-carousel>
</div>