<section class="c-video-block">

  <div class="c-video__contain">

      {% if data.title %}

      <div class="c-video-title">
        <h2>{{ data.title }}</h2>
      </div>

      {% endif %}

      {% if data.description %}

      <div class="c-video-description">
        <p>{{ data.description }}</p>
      </div>

      {% endif %}

      <!-- DEV NOTE: Only supports youtube embed. Any youtube url should work for the `youtube-url` prop -->
      <video-player tabindex="0" title="Alt Text" youtube-url="{{ data.youtube }}" thumbnail-url="{{ data.thumbnail }}" thumbnail-alt="Alt Text" role="presentation"></video-player>
      <p>{{ data.subtitle }}</p>

      {% if data.carousel %}
      <div class="carousel-controls">
        <a href="#" class="prev">{% include '../../../assets/images/images/arrow-carousel-prev.svg' %}</a>
        <a href="#" class="next">{% include '../../../assets/images/images/arrow-carousel-next.svg' %}</a>
      </div>
      {% endif %}
  </div>

</section>